.exDetailName {
    border: solid;
}

.exDetailEdit {
    border: solid black;
}

.exDetailDelete {
    border: solid black;
}

.exDetailSets {
    border: solid;
}

.exDetailReps {
    border: solid;
}

.exDetailDesc {
    border: solid;
}

.exDetailBack {
    border: solid black;
}