.container {
    height: 100vh;
}

.elAddButton {
    border: solid black;
}

.exCardBody {
    border: solid black;
}

.exName {
    border: solid black;
}

.exDescription {
    border: solid black;
}

.exAddButton {
    border: solid black;
}

.exDetailButton {
    border: solid black;
}