.rexMainCard {
    margin-bottom: 2em;
}

.rexHeader {
    display: flex;
}

.rexName {
    color: #fd5401;
    font-size: large;
    font-weight: bolder;
    border-bottom: #fd5401 solid 2px;
    align-self: end;
    flex-grow: 1;
    margin-right: 1em;
}

.rexHeaderButtons {
    margin-left: auto;
}

.rexEdit {
    border: solid black;
    margin-right: 2em;
}

.rexDelete {
    border: solid black;
}

.rexWeight {
    color: rgb(153, 153, 153);
}

.rexDifficulty {
    color: rgb(153, 153, 153);
    margin-top: -.5em;
}

.rexDetails {
    border: solid black;
}