.rexMainCard {
    border: solid black;
}

.rexCardBody {
    border: solid black;
}

.rexName {
    border: solid black;
}

.rexWeight {
    border: solid black;
}

.rexDifficulty {
    border: solid black;
}

.rexDetails {
    border: solid black;
}

.rexEdit {
    border: solid black;
}

.rexDelete {
    border: solid black;
}