.rexFormName {
    border: solid black;
}

.rexForDesc {
    border: solid black;
}

.rexFormSets {
    border: solid black;
}

.rexFormReps {
    border: solid black;
}

.rexFormWeightBin {
    border: solid black;
}

.rexFormWeightLable {
    border: solid black;
}

.rexFormWeightInput {
    border: solid black;
}

.rexFormDifficultyBin {
    border: solid black;
}

.rexFormDifficultyLable {
    border: solid black;
}

.rexFormDifficultyInput {
    border: solid black;
}

.rexFormSave {
    border: solid black;
}

.rexFormCancel {
    border: solid black;
}