.mealMainCard {
    border: solid black;
}

.mealCardBody {
    border: solid black;
}

.mealName {
    border: solid black;
}

.mealCalories {
    border: solid black;
}

.mealEditButton {
    border: solid black;
}

.mealDeleteButton {
    border: solid black;
}