.resEditMoodBeforeBin {
    border: solid black;
}

.resEditMoodBeforeLabel {
    border: solid black;
}

.resEditMoodBeforeInput {
    border: solid black;
}

.resEditMoodAfterBin {
    border: solid black;
}

.resEditMoodAfterLabel {
    border: solid black;
}

.resEditMoodAfterInput {
    border: solid black;
}

.resEditWeightBin {
    border: solid black;
}

.resEditWeightLabel {
    border: solid black;
}

.resEditWeightInput {
    border: solid black;
}

.resEditJournalBin {
    border: solid black;
}

.resEditJournalLabel {
    border: solid black;
}

.resEditJournalInput {
    border: solid black;
}

.dAddExerciseButton {
    border: solid black;
}

.resEditSave {
    border: solid black;
}

.resEditCancel {
    border: solid black;
}