.CardMain {
    margin: 1.5em;
    border: none;
    background-color: white;
    border-radius: 7px;
    box-shadow: 3px 3px 5px #00000050;
    display: flex;
    transition: .25s;
}

.CardMain:hover {
    margin: 1.5em;
    border: none;
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 7px #00000050;
    display: flex;
    margin-right: 3em;
    transition: .15s;
}

.card-body {
    width: 100%
}

.title {
    color: #fd5401;
    font-size: xx-large;
    font-weight: bolder;
    border-bottom: solid 5px;
}

.cardDetails {
    display: flex;
}

.detailHolder {
    display: flex;
}

.emojiHeader {
    border-bottom: #fd5401 2px solid;
    font-weight: bold;
    border-radius: 5px;
}

.weightHeader {
    border-bottom: #fd5401 2px solid;
    font-weight: bold;
    border-radius: 5px;
}

.emojiField {
    margin-top: -20px;
    text-align: center;
    font-size: xx-large;
}

.weightField {
    margin-top: -15px;
    text-align: center;
    font-size: x-large;
}

.afterHolder {
    margin-left: 2em;
}

.weightHolder {
    margin-left: 2em;
}

.calorieHolder {
    margin-left: 2em;
}

.calorieHeader {
    border-bottom: #fd5401 2px solid;
    font-weight: bold;
    border-radius: 5px;
}

.calorieField {
    margin-top: -15px;
    text-align: center;
    font-size: x-large;
}

.journalHeader {
    margin-top: 2em;
    border-bottom: #fd5401 2px solid;
    font-weight: bold;
    border-radius: 5px;
}

.journalField {
    margin-top: -15px;
}

.linkHolder {
    text-align: center;
}

.detail-button {
    color: #fd5401;
    background-color: #ffffff;
    border: solid #fd5401;
}

.detail-button:hover {
    background-color: #fd5401;
    border: solid #fd5401;
}