.logEmailLabel {
    border: black solid;
}

.logEmailInput {
    border: black solid;
}

.logPasswordLabel {
    border: black solid;
}

.logPasswordInput {
    border: black solid;
}

.logButton {
    border: black solid;
}

.logRegisterString {
    border: black solid;
}