.regFirstLabel {
    border: black solid;
}

.regFirstInput {
    border: black solid;
}

.regLastLabel {
    border: black solid;
}

.regLastInput {
    border: black solid;
}

.regUserLabel {
    border: black solid;
}

.regUserInput {
    border: black solid;
}

.regProPicLabel {
    border: black solid;
}

.regProPicInput {
    border: black solid;
}

.regEmailLabel {
    border: black solid;
}

.regEmailInput {
    border: black solid;
}

.regPasswordLabel {
    border: black solid;
}

.regPasswordInput {
    border: black solid;
}

.regPasswordLabel {
    border: black solid;
}

.regConfirmPasswordInput {
    border: black solid;
}

.regConfirmPasswordInput {
    border: black solid;
}

.regButton {
    border: black solid;
}